.container_contacts {
	width: 90%;
	height: 100%;
	margin: 0 114px 0 39px;
	display: flex;
}

.head_contact {
	color: #817E7E;
}

.head_contact h2 {
	margin-top: 30px;
}

.social_contact h4 {
	color: #000;
	font-weight: normal;
	margin: 20px 0;
}

.Instagram {
	width: 620px;
	height: 105px;
	border: 1px solid #E2E2E2;
	color: #E2E2E2;
}

.Instagram h4 {
	margin: 5px 0 10px 6px;
	font-weight: normal;
	color: #676767;
}

.insta_link {
	display: flex;
	width: 581px;
}

.Instagram a {
	width: 525px;
	height: 40px;
}

.icon_insta {
	width: 40px;
	height: 40px;
	background: url('images/instagram.svg');
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-right: 21px;
}

.Facebook_con {
	width: 620px;
	height: 105px;
	border: 1px solid #E2E2E2;
	color: #E2E2E2;
	margin-bottom: 48px;
}

.icon_facebook {
	width: 40px;
	height: 40px;
	background: url('images/facebook.svg');
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-right: 21px;
}

.facebook_link {
	display: flex;
	width: 581px;
}

.Facebook_con h4 {
	margin: 5px 0 10px 6px;
	font-weight: normal;
	color: #676767;
}

.Facebook_con a {
	height: 40px;
}

.Facebook_con a:hover {
	text-decoration: underline;
	color: grey;
}

.Instagram a:hover {
	text-decoration: underline;
	color: grey;
}

.phone_head h4 {
	font-weight: normal;
}

.block_phone {
	width: 620px;
	height: 91px;
	border: 1px solid #E2E2E2;	
	display: flex;
	align-items: center;
	display: flex;
	align-items: center;
}

.icon_phone {
	width: 40px;
	height: 40px;
	background: url('images/zvon.png') !important;
	background: no-repeat;
	margin: 0 18px 0 11px;
}

.phone_link p {
	margin: 3px 0 0 0;
}

.container_geo {
	margin: 120px 0 16px 26px;
}

.map {
	width: 641px;
	height: 394px;
}

.head1 p, .head3 p {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 14px;
}

.head2 p, .head4 p {
	margin: 0 0 0 18px;
	width: 514px;
}

.head4 {
	margin-bottom: 41px;
}

.hide {
	display: none;
}

.map_phone {
	width: 320px;
	height: 320px;
}

@media all and (min-width: 320px) and (max-width: 480px) {
	.container_contacts {
		width: 100%;
		display: inline-block;
		margin-left: 10px;
	}

	.container_leftCont {
		width: 100%;
	}

	.map {
		margin-right: 20px;
		width: 100%;
	}

	.Instagram {
		width: 90%;
	}

	.Facebook_con {
		width: 90%;
	}

	.Instagram a {
		font-size: 12px;
		width: 320px;
	}

	.Facebook_con a {
		font-size: 12px;
		width: 320px;
	}

	.block_phone {
		width: 90%;
	}

	.container_geo {
		margin-left: 10px;
	}

	.head1 p, .head3 p {
		font-size: 20px;
	}

	.head2 p, .head4 p{
		width: 90%;
		font-size: 14px;
	}

}
